.resume-clg-time2 div {
    width: 170px;
}

.resume-college-info2 p {
    font-size: 13px;
    text-transform: capitalize;
    padding-right: 45px;
}

.resume-exp-ul li{
    font-size: 11px;
    color: '#757575';
}